<h1>Your Cart</h1>

<% if @cart.empty? %>
    <p>Your Cart is empty.</p>
<% end %>

<% total = 0 %>

<table class="cart">
    <tr>
        <td class="legend"></td>
        <td class="legend">Qty</td><br>
        <td class="legend">Price</td><br>
        <td class="legend">Total</td><br>
    </tr>
     <% @cart.each do | id, quantity | %>
     <% item = Item.find_by_id(id) %>
    <tr>
    <td class="price"><%= number_to_currency(item.price, :unit => "€") %></td>
    <br> 
    <td class="quantity"><%= quantity %><br /></td>
    <td class="price"><%= number_to_currency(quantity * item.price, :unit => "€") %></td>
    <td></td>  
    <td></td>
    <td align = "right"><a href="/cart/remove/<%= item.id %>">Remove from Cart</a></td>
    </tr>
    <p><b><% total += quantity * item.price %></b></p>
    <% end %>
    
    <tr>
        <td></td>
        <td colspan="4">
        <div class="total" align = "right"><b>Order Total:</b></div>
        </td>
        <td>
        <div class="price"><b><%= number_to_currency(total, :unit => "€") %></b></div>
        </td>
    </tr>

</table>
    
    <p>
    <%= link_to 'Continue Shopping', :controller => :items %>
    <br>

    <%= link_to 'Clear Cart', :controller => "cart", :action => "clearCart" %>
    <br>
    
    </p>



