<h1>Your Cart</h1>

<% if @cart.empty? %>
    <p>Your Cart is empty.</p>
<% end %>

<% total = 0 %>

<table class="cart">
    <tr>
        <td class="legend"></td>
        <td class="legend">Photo</td><br>
        <td class="legend">Price</td><br>
        <td class="legend">Qty</td><br>
        <td class="legend">Total</td><br>
    </tr>
     <% @cart.each do | id, quantity | %>
     <% item = Item.find_by_id(id) %>
    <tr>
    <td>
   
        <div class="image">
        <%= link_to (image_tag item.image_url, :style => "height:100px"), item %>
        </div>
      
    </td>
      
    <td class="title"><%= link_to item.title, item %></td>
    <td class="price"><%= number_to_currency(item.price) %></td>
    <td class="quantity"><%= quantity %><br /></td>
    <td class="price"><%= number_to_currency(quantity * item.price, :unit => "€") %></td>
    <td><a href="/cart/remove/<%= item.id %>">Remove from Cart</a></td>
    </tr>
    <% total += quantity * item.price %>
    <% end %>
    
    <tr>
        <td colspan="4">
        <div class="total">Total:</div>
        </td>
        <td>
        <div class="price"><%= number_to_currency(total, :unit => "€") %></div>
        </td>
    </tr>

</table>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="pmkohlmann@gmail.com">
    <input type="hidden" name="lc" value="US">
    <input type="hidden" name="item_name" value="Prints">
    <input type="hidden" name="item_number" value="1">
    <input type="hidden" name="button_subtype" value="services">
    <input type="hidden" name="no_note" value="0">
    <input type="hidden" name="currency_code" value="EUR">
    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
    <br>
    <input type="image" src="/assets/bampict/add-to-cart.jpg" align = "left" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

    <p>
    <%= link_to 'Continue Shopping', :controller => :items %>
    <br>

    <%= link_to 'Clear Cart', :controller => "cart", :action => "clearCart" %>
    <br>
    
    <%=link_to 'Check Out', :controller => "cart", :action => "createOrder" %>

    </p>



