<!DOCTYPE html>
<html>
<title>BAM Photography Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Ubuntu:400,400italic,700|Titillium+Web:400,400italic,700|Open+Sans:400,400italic,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/responsive.css">
     <link rel="stylesheet" href="/normalize.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="/contact_validate.js"></script>
    <script src="/jquery-1.9.1.min.js"></script>
    <script src="/lightbox.min.js"></script>
    <script src="/lightbox.js"></script>
    <script  src="https://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>
 </head>	

<body>
    
   <div id="wrapper">
      
	  <section>
	  
		<div class="img">
			<a href="/gallery_newborns.html">
     		<img alt="Newborns Pictures" src="/assets/newborn/DSC1340.jpg" width="300" height="200">
     		</a>
	   		<div class="desc">Newborns Gallery</div>
		</div>

		<div class="img">
			<a href="/gallery_children.html">
			<img src="/assets/children/2.jpg" alt="Children Pictures" width="300" height="200">
		 	</a>
		  <div class="desc">Children Gallery</div>
		</div>
	  
	  	<div class="img">
			<a href="/gallery_maternity.html">
			<img src="/assets/maternity/0902.jpg" alt="Maternity Pictures" width="300" height="200">
			</a>
		  <div class="desc">Maternity Gallery</div>
		</div>
	  	  
      </section>
     
	</div>
  
</body>
</html>






<!--<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BAM Photography</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Ubuntu:400,400italic,700|Titillium+Web:400,400italic,700|Open+Sans:400,400italic,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    
	<div id="wrapper">
      
	  <section>
	  
		<div class="img">
		<a target="_blank" href="site/gallery_newborns.html">
		<img src="/assets/newborn/DSC_7332.jpg" alt="Newborn Pictures" width="300" height="200">
			</a>
		  <div class="desc">Newborns Gallery</div>
		</div>

		<div class="img">
		  <a target="_blank" href="/gallery_children.html">
		  <img src="/assets/children/6.jpg" alt="Children Pictures" width="300" height="200">
			</a>
		  <div class="desc">Children Gallery</div>
		</div>
	  
	  	<div class="img">
	  		<a target="_blank" href="/gallery_maternity.html">
			<img src="/assets/maternity/34.jpg" alt="Maternity Pictures" width="300" height="200">
			</a>
		  <div class="desc">Maternity Gallery</div>
		</div>
	  	  
      </section>
    
    
	</div>
  
  </body>
</html>

-->